requests
cloudscraper
bs4 
python-dotenv
pyrogram
tgcrypto
lxml
lk21
cfscrape
PyBypass
bs4
lxml
pytz
motor
Pillow
aiohttp
pyromod
hachoir
tgcrypto
dnspython
yt-dlp
pyrogram
cloudscraper
olefile
requests
nest_asyncio
